body {
background: rgb(0,77,122);
background: radial-gradient(circle, rgba(0,77,122,1) 0%, rgba(0,191,114,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
